#*

# Vim swap files
.*.sw[a-z]*

# Machine-specific files
.aws/
.bash_history
.boto
.bun/
.cache/
.cargo/
.config/yarn/
.cursor/
.docker/
.gem/
.gemini/
.gk/
.infisical/
.kube/
.lesshst/
.livekit/
.local/
.mcp-auth/
.modular/
.node_repl_history
.npmrc
.npm/
.nvm/
.ollama/
.pi/
.psql_history
.pulumi/credentials.json
.python_history
.python-version
.ssh/
.supabase/
.terraform.d/
.viminfo
.viminfo.tmp
.vite-plus/
.vscode/
.yarn
.yarnrc
.zcompdump*
.zrok/
.zsh_history
.zsh_sessions/
.zim/
dev/
ai-dev/
go/
tmp/
__pycache__/

# MacOS machine-specific files
Applications/
Downloads/
Desktop/
Documents/
Library/
Music/
Movies/
Pictures/
Public/
.DS_Store
.Trash/
