#*

# Vim swap files
.*.sw[a-z]*

# Machine-specific files
.aws/
.bash_history
.cache/
.docker/
.ssh/
go/
tmp/
__pycache__/

# MacOS machine-specific files
Applications/
Downloads/
Desktop/
Documents/
Library/
Music/
Movies/
Pictures/
Public/
.DS_Store
